# navigation
alias ..="cd .."
alias .="ls"
alias ls="ls -h --color"
alias la="ls -a"
alias ll="ls -l"
alias lla="ls -la"
alias lsd='ls -lF ${colorflag} | grep "^d"'
alias tmux='TERM="xterm-256color" tmux'

function mkcd () {
  mkdir -p "$1"
  cd "$1"
}

function psgrep () {
  ps aux | grep "$1" | grep -v "grep"
}

function sshsocks () {
  ssh -D $1
}

# git aliases
alias gita='git add'
alias gits='git status'
alias gitc='git commit'
alias gitp='git push'
alias gitl='git log --graph --full-history --all --color --pretty=format:"%x1b[31m%h%x09%x1b[32m%d%x1b[0m%x20%s"'

# quick wifi switch
alias sw='sudo netctl switch-to'
