# navigation
alias ..="cd .."
alias .="ls"
alias ls="ls -h --color --group-directories-first"
alias la="ls -a"
alias ll="ls -l"
alias lla="ls -la"
alias lsd='ls -lF ${colorflag} | grep "^d"'
alias tmux='TERM="xterm-256color" tmux'

function mkcd () {
  mkdir -p "$1"
  cd "$1"
}

function psgrep () {
  ps aux | grep "$1" | grep -v "grep"
}

function sshsocks () {
  ssh -D $1
}

# git aliases
alias gita='git add'
alias gits='git status'
alias gitc='git commit'
alias gitp='git push'
alias gitl='git log --graph --full-history --all --color --pretty=format:"%x1b[31m%h%x09%x1b[32m%d%x1b[0m%x20%s"'

export QT_STYLE_OVERRIDE=gtk
export QT_SELECT=qt5

occ() {
	cd ~/repos/nextcloud/nc-dev && docker-compose exec nextcloud occ $@ && cd -
}
occ2() {
	cd ~/repos/nextcloud/nc-dev && docker-compose exec nextcloud2 occ $@ && cd -
}
nc-dev() {
	cd ~/repos/nextcloud/nc-dev && docker-compose $@ && cd -
}

if [[ $LANG = '' ]]; then
	export LANG=en_US.UTF-8
fi

alias git-word-diff='git diff --text --word-diff=porcelain | awk -v red="$(tput setaf 1)" -v green="$(tput setaf 2)" -v reset="$(tput sgr0)" -f ~/.dotfiles/scripts/worddiff.awk | grep "^[+-]"'
