[user]
	name = Julius Haertl
	email = jus@bitgrid.net
[core]
	excludesfile = ~/.gitignore_global
	editor = vim
[alias]
    merge-branch = !git checkout master && git merge @{-1}
    up = !git fetch origin && git rebase origin/master
	d = difftool
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    gg = grep --break --heading -n
    unpushed = log --stat origin/master..HEAD
    cl = log --graph --pretty=format:"%an: %s%C(yellow)%d%Creset %Cgreen(%cr)%Creset" --date=relative
    cls = log --pretty=format:"%an (%ae): %Cyellow%s%Creset" --shortstat
    fc = commit --amend -m
    diff = diff --word-diff
[color]
	ui = auto
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = white bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[push]
	default = simple
[diff]
	tool = vimdiff
[init]
	templatedir = /home/jus/.git-templates

# https://groups.google.com/forum/#!msg/binary-transparency/f-BI4o8HZW0/MDmnWideAgAJ
[transfer] 
    fsckobjects = true 
[fetch] 
    fsckobjects = true 
[receive] 
    fsckObjects = true 
